<div class="sub-navigator">
  <h2>Password Generator</h2>
</div>
<br>
<div class="password-generator">  
    <div class="form-group">
      <label for="length">Password Length </label>
      <input type="number" id="length" [(ngModel)]="passwordLength" min="4" max="3000" />
      <label> (Max 3000)</label>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" [(ngModel)]="includeLowercase" />
        Include Lowercase Letters
      </label>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" [(ngModel)]="includeUppercase" />
        Include Uppercase Letters
      </label>
    </div>
  
    <div class="form-group">
      <label>
        <input type="checkbox" [(ngModel)]="includeNumbers" />
        Include Numbers
      </label>
    </div>
  
    <div class="form-group">
      <label>
        <input type="checkbox" [(ngModel)]="includeSymbols" />
        Include Symbols ( eg.
        <span>!</span><span>@</span><span>#</span><span>$</span>
        <span>%</span><span>&</span><span>*</span><span>? )</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" [(ngModel)]="includeAmbiguous" />
        Include Ambiguous Characters ( eg. 
        <span>{{ '{' }}</span><span>{{ '}' }}</span>
        <span>{{ '[' }}</span><span>{{ ']' }}</span>
        <span>{{ '(' }}</span><span>{{ ')' }}</span>
        <span>{{ '/' }}</span><span>{{ '\'' }}</span>
        <span>{{ '`' }}</span><span>{{ '~' }}</span>
        <span>{{ ',' }}</span><span>{{ ';' }}</span>
        <span>{{ ':' }}</span><span>{{ '.' }}</span>
        <span>{{ '<' }}</span><span>{{ '>' }}</span>
        <span>{{ '^' }}</span>
        )
      </label>
    </div>
  
    <button class="button" (click)="generatePassword()">Generate Password</button>
  </div>


<div class="alltextarea" *ngIf="passwordstring">
  <div class="beautified-json-container">
    <h3>Generated Password:</h3>
    <button class="copy-button" (click)="copyToClipboard()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <pre class="json-output" [innerHTML]="passwordstring"></pre>
  </div>
</div>
  