.json-output {
  white-space: pre-wrap; /* Allows wrapping of long content */
  word-wrap: break-word; /* Breaks long words if necessary */
  overflow-x: auto; /* Adds a horizontal scrollbar if needed */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: monospace;
  font-size: 1rem; /* Adjust as needed */
}


.button, .copy-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px; /* Space between buttons */
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.beautified-json-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.copy-button mat-icon {
  margin-top: 20px;
  font-size: 20px;
  color: grey;
}

.password-generator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #aab2ba;
  }
  