.sub-navigator{
  display: flex;
  align-items: center;
  color: aliceblue;
  background: linear-gradient(to right,  #00008B 0%, #0000FF 50%, #ADD8E6 98%, #FFFFFF 100%);
  justify-content: space-around;
}

.json-output{
  background-color: #f8f9fa; /* Light background */
  font-size: 16px;
  color: black; /* Dark text */
  border: 1px solid #ddd; /* Light border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px;
  overflow-x: auto; /* Scrollbar for overflow */
  white-space: pre-wrap; /* Preserve whitespace formatting */
  margin-top: 20px; /* Space between JSON output and buttons */
}

.alltextarea{
  width: 70%;
  margin: 70px;
  margin-left: 170px;
  text-shadow: #050505;
}

.button, .copy-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px; /* Space between buttons */
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.beautified-json-container {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.copy-button mat-icon {
  margin-top: 20px;
  font-size: 20px;
  color: grey;
}

.password-generator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #aab2ba;
  }
  