<div class="sub-navigator">
    <h2>JSON Validator</h2>
</div>
<div>
    <div class="alltextarea">
        <div #editor class="editor"></div>
        <button class="button" (click)="validateJson()">Validate</button>
        <button class="button" (click)="beautifyJson()">Beautify</button>
        <button class="button" (click)="clearTextBox()">Clear</button>

        <div *ngIf="validationResult !== null">
            <p class="success" *ngIf="validationResult.valid">Valid JSON!</p>
            <div *ngIf="successMessage == 'JSON has been beautified.'">
                <div class="beautified-json-container">
                    <h3>Beautified JSON</h3>
                        <pre class="json-output" [innerHTML]="beautifiedJsonHtml"></pre>
                        <button class="copy-button" (click)="copyToClipboard()">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                </div>
            </div>
            <p class="error" *ngIf="!validationResult.valid">Invalid JSON!</p>
            <div *ngIf="validationResult.errors">
                <p>Error Details:</p>
                <pre class="error">{{ validationResult.errors }}</pre>
            </div>
        </div>

    </div>
</div>
  

  
  